<%= link_to "View all games", games_path %>

<div>
  Select year: 
  <%= link_to "2013", '/year/2013' %>
  <%= link_to "2014", '/year/2014' %>
</div>

<h1>Games</h1>

<ul class="games">
  <%= render @games %>
</ul>