<% wishlist_form_id = "wishlist_form_#{@game.id}" %>

<div class='<%= wishlist_form_id %> inline-block'>
  <% if user_signed_in? %>
    <% if current_user.wished?(@game) %>
      <%= render 'games/actions/remove_from_wishlist' %>
    <% else %>
      <%= render 'games/actions/add_to_wishlist' %>
    <% end %>
  <% else %>
    <button type="button" class="btn btn-large btn-default" disabled="disabled">Wanted</button>
  <% end %>
</div>
