<% provide(:title, @title) %>

<div class="row">

  <!-- Main Content -->
    <section id="main-content" class="col-md-9">
      <h2>
        <%= @title %>
      </h2>

      <% @games.each do |game| %>
        <div class="wanted-owned">
          <%= link_to image_tag(game.cover.url(:thumb), class: "pull-left game-thumbnail"), game %>
        </div>
      <% end %>

      <div class="text-center">
        <%= will_paginate @games %>
      </div>
    </section>

  <!-- About -->
  <section id="about" class="col-md-3">
      <%= render 'layouts/vertical_ad' %>
  </section>
</div>
