<% provide(:title, "Platforms") %>

<div class="row">

  <!-- User Info -->
  <%= render 'shared/user_section' %>

  <!-- Main Content -->
  <% if user_signed_in? %>
    <section id="main-content" class="col-md-8">
  <% else %>
    <section id="main-content" class="col-md-9">
  <% end %>
      <h2>
        Platforms
      </h2>

    </section>

  <!-- About -->
  <section id="about" class="col-md-3">
      <%= render 'layouts/vertical_ad' %>
  </section>
</div>
