<h3>Games I Own (<%= @owned.count %>)</h3>

<div class="row">
  <div class="col-md-12">
    <% if @owned.any? %>
      <% @owned.each do |owned| %>
        <%= link_to image_tag(owned.cover.url(:thumb), class: "pull-left game-thumbnail"), owned_path(owned) %>
      <% end %>
      <div class="clearfix"></div>
      <div><%= link_to "View All", owned_games_user_path %></div>
    <% else %>
      <p>None</p>
    <% end %>
  </div>
</div>