<div class="row">
  <div class="col-md-12">
    <section class="pull-left">
      <h3>Games I Want (<%= @wished.count %>)</h3>
    </section>

    <div class="pull-right view-all">
      <% if @wished.any? %>
        <h3><%= link_to "View All", wanted_user_path %></h3>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @wished.any? %>
      <% @wished.each do |wished| %>
        <%= link_to image_tag(wished.cover.url(:thumb), class: "pull-left game-thumbnail wanted-owned"), wished_path(wished) %>
      <% end %>
    <% else %>
      <p>No games wanted!</p>
    <% end %>
  </div>
</div>