<section class="about">
  <h3>About</h3>

  <p>
    Sed suscipit lacus id enim ultricies vestibulum. Nunc dignissim mauris sit amet justo interdum fringilla. Donec adipiscing velit ante, at pellentesque turpis posuere in.
  </p>

  <p>
    Duis convallis posuere consequat. Praesent a viverra leo, in mattis elit. Integer feugiat varius arcu. Aenean ultricies tellus massa, et pulvinar nunc elementum et. Ut dictum pretium nulla, id ultricies ante ultrices at. 
  </p>

  <p>
    Nulla in dui a risus molestie consequat. Mauris varius lorem at nunc eleifend, id porta elit semper.
  </p>

  <!-- <p>
    I grew up playing video games. Like many others, I've spent countless late nights with my friends fighting on virtual battlefields, raiding dungeons and saving the galaxy from an alien threat.
  </p>

  <p>
    I often hear people reminisce about their gaming experiences. Some games come out that leave such a lasting impression that it defines an era. I thought it would be a cool idea to compile a list of great games that deserve to be remembered, played and enjoyed.
  </p>

  <p>
    This is not meant to be a list of highest rated games from Metacritic, although many will likely be highly rated. And it will no doubt leave some in disagreement. But hopefully it will expose some games that may have flown under the radar, and give them a brief chance to shine.
  </p> -->
</section>