<% @user ||= current_user %>
<div class="stats">
  <a href="<%= user_wishlist_path(@user) %>">
    <strong id="wished" class="stat">
      <%= @user.wished_games.count %>
    </strong>
    wished
  </a>
</div>