<% @user ||= current_user %>
<div class="stats">
  <div>
    <a href="<%= user_wishlist_path(@user) %>">
    <strong id="wished" class="stat">
      <%= @user.wished_games.count %>
    </strong>
    wanted</a>
  </div>
  <div>
    <a href="<%= user_library_path(@user) %>">
    <strong id="owned" class="stat">
      <%= @user.owned_games.count %>
    </strong>
    owned</a>
  </div>
</div>