<% @user ||= current_user %>
<div class="stats">
  <div>
    <a href="<%= wanted_user_path(@user) %>">
    <strong id="wished" class="stat">
      <%= @user.wanted.count %>
    </strong>
    wanted</a>
  </div>
  <div>
    <a href="<%= owned_user_path(@user) %>">
    <strong id="owned" class="stat">
      <%= @user.owned.count %>
    </strong>
    owned</a>
  </div>
</div>