<% if user_signed_in? %>
  <div class="pull-left">
    <%= render 'games/wishlist_form' %>
    <%= render 'games/ownership_form' %>
  </div>
  <% if current_user.admin? %>
    <div class="pull-right">
        <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_url(id: @game.id), class: "btn btn-default" %>
        <%= link_to "<i class='fa fa-ban'></i> Delete".html_safe, @game, class: "btn btn-danger", 
          method: :delete, 
          data: { confirm: "You sure?" }  %>
    </div>  
  <% end %>
<% end %>