<%= form_for(current_user.wishlists.build(wished_id: @game.id), remote: true) do |f| %>
  <div><%= f.hidden_field :wished_id %></div>
  <%= f.submit "I want this!", class: "btn btn-large btn-default" %>
<% end %>