<li>
  <div class="pull-left">
    <%= link_to game.name, game %>
  </div>
  <div class="pull-right">
    <% if current_user.admin? %>
      <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_url(id: game.id), class: "btn btn-default" %>
    <% end %>
  </div>  
</li>