<h3>Users Who Own This (<%= @owners.count %>)</h3>

<div class="row">
  <div class="col-md-12">
    <% if @owners.any? %>
      <% @owners.each do |owner| %>
        <%= link_to gravatar_for(owner, size: 52, class: "pull-left"), owner_path(owner) %>
      <% end %>
      <div><%= link_to "View All", game_owners_path %></div>
    <% else %>
      <p>Nobody owns <%= @game.name %>. <i class="fa fa-frown-o"></i> </p>
    <% end %>
  </div>
</div>