<h3>Users Who Want This (<%= @wishers.count %>)</h3>

<div class="row">
  <div class="col-md-12">
    <% if @wishers.any? %>
      <% @wishers.each do |wisher| %>
        <%= link_to gravatar_for(wisher, size: 52, class: "pull-left"), wisher_path(wisher) %>
      <% end %>
      <div><%= link_to "View All", game_wanted_path %></div>
    <% else %>
      <p>Nobody wants <%= @game.name %>. <i class="fa fa-frown-o"></i></p>
    <% end %>
  </div>
</div>