<% wishlist_form_id = "wishlist_form_#{@game.id}" %>

<div class=<%= wishlist_form_id %>>
  <% if current_user.wished?(@game) %>
    <%= render 'games/remove_from_wishlist' %>
  <% else %>
    <%= render 'games/add_to_wishlist' %>
  <% end %>
</div>
