<% provide(:title, 'All Games') %>

<div class="row">

  <!-- Main Content -->
    <section id="main-content" class="col-md-9">
    <h1>All Games</h1>
    
    <%= render 'shared/games_table' %>

    <div class="text-center">
      <%= will_paginate @games %>
    </div>
  </section>

  <!-- Vertical Ad -->
  <section id="vertical-ad" class="col-md-3">
      <%= render 'layouts/vertical_ad' %>
  </section>
</div>
