<% provide(:title, 'All Games') %>

<div class="row">

  <!-- User Info -->
  <%= render 'shared/user_section' %>

  <!-- Main Content -->
  <% if user_signed_in? %>
    <section id="main-content" class="col-md-8">
  <% else %>
    <section id="main-content" class="col-md-9">
  <% end %>
    <h1>All Games</h1>
    
    <%= render 'shared/games_table' %>

    <div class="text-center">
      <%= will_paginate @games %>
    </div>
  </section>

  <!-- Vertical Ad -->
  <section id="vertical-ad" class="col-md-3">
      <%= render 'layouts/vertical_ad' %>
  </section>
</div>
