<% provide(:title, 'All Games') %>

<h1>All Games</h1>

<div class="text-center">
  <%= will_paginate @games %>
</div>

<%= render 'shared/games_table' %>

<div class="text-center">
  <%= will_paginate @games %>
</div>