<% provide(:title, "#{@game.name} - #{@game.platform}") %>

<% if @game.asin != "Error" %>
  <% item_lookup(@game.asin, "Accessories, ItemAttributes, OfferSummary, Reviews, SalesRank, Similarities") %>
<% end %>

<div class="row">
  <% if user_signed_in? %>
    <div class="col-md-1">
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="col-md-8">
  <% else %>
    <div class="col-md-9">
  <% end %>
    <%= render 'games/page/game_info' %>
  </div>

  <div class="col-md-3">
    <%= render 'games/page/amazon_info' %>
  </div>
</div>

<%# if !Rails.env.production? %>
  <%# if @res %>
    <%#= "<pre>" %>
      <%#= raw JSON.pretty_generate(@res).gsub(" ","&nbsp;") %>
    <%#= "</pre>" %>
  <%# end %>
<%# end %>