<% provide(:title, @game.name) %>

<% metacritic_info(@game.name, @game.platform) %>
<% item_search(@game.name, @game.platform) %>
<% item_lookup(@asin, "Accessories, EditorialReview, Images, ItemAttributes, OfferSummary, Reviews, SalesRank, Similarities") %>

<div class="row">
  <div class="col-md-12">
    <h1 class="pull-left"><%= @game.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render 'games/game_info' %>
  </div>

  <div class="col-md-4">
    <%= render 'games/amazon_info' %>
  </div>
</div>

<% if !Rails.env.production? %>
  <pre>
  <%= raw JSON.pretty_generate(@res).gsub(" ","&nbsp;") %>
  </pre>
<% end %>