<% provide(:title, "#{@game.name} - #{@game.platform}") %>

<% metacritic_info(@game.name, @game.platform) %>
<% item_search(@game.name, @game.platform) %>

<% if @asin != "Error" %>
  <% item_lookup(@asin, "Accessories, EditorialReview, Images, ItemAttributes, OfferSummary, Reviews, SalesRank, Similarities") %>
<% end %>

<div class="row">
  <div class="col-md-1">
    <%= render 'shared/user_info' %>
    <%= render 'shared/stats' %>
  </div>

  <div class="col-md-8">
    <%= render 'games/game_info' %>
  </div>

  <div class="col-md-3">
    <%= render 'games/amazon_info' %>
  </div>
</div>

<%# if !Rails.env.production? %>
  <%# if @res %>
    <%#= "<pre>" %>
      <%#= raw JSON.pretty_generate(@res).gsub(" ","&nbsp;") %>
    <%#= "</pre>" %>
  <%# end %>
<%# end %>