<% provide(:title, "#{@game.name} - #{@game.platform}") %>

<div class="row">

  <!-- Main Content -->
    <section class="col-md-9">
    <%= render 'games/page/game_info' %>
  </section>

  <!-- Amazon Info -->
  <section class="col-md-3">
    <%= render 'games/page/amazon_info' %>
    <%= render 'layouts/vertical_ad' %>
  </section>
</div>

<%# if !Rails.env.production? %>
  <%# if @res %>
    <%#= "<pre>" %>
      <%#= raw JSON.pretty_generate(@res).gsub(" ","&nbsp;") %>
    <%#= "</pre>" %>
  <%# end %>
<%# end %>
