<% provide(:title, @game.name) %>

<div class="row">
  <div class="col-md-12">
    <h1 class="pull-left"><%= @game.name %></h1>
  </div>
</div>


<div class="row">
  <aside class="col-md-4">
    <section>
      <div class="game-info">Name: <%= @game.name %></div>
      <div class="game-info">Email: <%= @game.year %></div>
    </section>
  </aside>
</div>