// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.games {
  list-style: none;
  margin: 0;
  -webkit-padding-start: 0;
  li {
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.game-name {
  clear: both;
}

.game-thumbnail {
  padding-right: 10px;
  padding-bottom: 10px;
}

.amzn-price {
  font-size: 17px;
}

.gravatar {
  padding-bottom: 3px;
}

.view-all {
  margin-right: 11px;
}