// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.games {
  list-style: none;
  margin: 0;
  -webkit-padding-start: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    &:last-child {
      border-bottom: 1px solid #ccc;
    }
  }
}

.game-thumbnail {
  padding-right: 10px;
  padding-bottom: 10px;
}

.amazon {
  margin-top: 0;
}