// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$amazon: #fcc235;
$wishlist: #146eb4;

.games {
  list-style: none;
  margin: 0;
  -webkit-padding-start: 0;
  li {
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.game-name {
  clear: both;
}

.game-thumbnail {
  padding-right: 10px;
  padding-bottom: 10px;
}

.amzn-price {
  font-size: 17px;
}

.gravatar {
  padding-bottom: 3px;
}

.view-all {
  margin-right: 11px;
}

.amzn-btn {
  margin: 10px 0;
}

.amzn-btn {
  background-color: $amazon!important;
  border-color: darken($amazon, 10%)!important;
  color: #000!important;
  margin-bottom: 10px!important;
}

.amzn-btn:hover {
  background-color: darken($amazon, 10%)!important;
}

.wishlist-btn {
  background-color: $wishlist!important;
  border-color: darken($wishlist, 10%)!important;
}

.wishlist-btn:hover {
  background-color: darken($wishlist, 10%)!important;
}