// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";


/*********/
/* Links */
/*********/

a, input {
  -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
       -o-transition: 0.3s;
      -ms-transition: 0.3s;
          transition: 0.3s;
}

a:link    { text-decoration: none }
a:active  { text-decoration: none }
a:visited { text-decoration: none }
a:hover   { text-decoration: none }


/**********/
/* Navbar */
/**********/

.navbar-nav a:hover { 
  border-bottom: 5px solid #fff;
  padding-bottom: 9px;
  transition: all .1s linear;
  -o-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
}

@media (min-width: 768px) {
  // .3ds:hover { border-bottom: 5px solid #ce171f!important; }
  .xbox:hover, .xbox-360:hover, .xbox-one:hover { color: #21ff21!important; border-bottom: 5px solid #21ff21!important; }
  .playstation-2:hover, .playstation-3:hover, .playstation-4:hover { color: #40c7ff!important; border-bottom: 5px solid #40c7ff!important; }
  .wii:hover, .wii-u:hover { color: #00c0ff!important; border-bottom: 5px solid #00c0ff!important; }
  .gamecube:hover, { color: #9c84ff!important; border-bottom: 5px solid #9c84ff!important; }
}

.navbar-brand:hover { color: #fff!important; }
.navbar-toggle { border: 0; }

.navbar-collapse { border: 0; }

@media (max-width: 768px) {
  .navbar-collapse a:hover {
    border-bottom: 0;
    color: #fff!important;
    background-color: #428bca!important;
  }

  .gravatar {
    padding-left: 15px;
  }
}

/********/
/* Page */
/********/

body {
  padding-top: 70px;
  font-family: 'Lato', sans-serif;
  background: image-url('background.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.ad-margin { margin: 15px 0; }

.section-header {
  // border-left: 5px solid #000;
  // padding-left: 5px;
  margin-bottom: 15px;
}

.game-space {
  position: relative;
  clear: none;
  display: inline-block;
  /*min-height: 225px;*/
  background-color: #fff;
  margin: 0 35px 30px 0;
  text-align: left;
}

.game-space img {
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}
 
.game-space img:hover {
  -webkit-filter: brightness(120%);
}

.game-name { padding: 5px; }

.game-score { 
  color: #fff;
  background-color: green; 
  min-height: 17px;
  padding-right: 3px;
}
