// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* links */

a, input {
  -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
       -o-transition: 0.3s;
      -ms-transition: 0.3s;
          transition: 0.3s;
}

header a:link    { text-decoration: none }
header a:active  { text-decoration: none }
header a:visited { text-decoration: none }
header a:hover   { text-decoration: none }

/* page */

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}