$h1Margin: 20px 0 10px 0;
$grayVerticalBorder: 1px solid #ccc;
$facebook: #3b5998;
$twitter: #0084b4;
$google: #d34836;

.header-signin {
  margin: $h1Margin;
}

.signin-register-buttons > .btn {
  margin: 10px 0;
}

  .signin-register-buttons > .btn:first-child {
    margin-top: 0;
    margin-bottom: 10px;
  }

.btn-facebook {
  background-color: $facebook;
  border-color: darken($facebook, 10%);
}

  .btn-facebook:hover {
    background-color: darken($facebook, 10%);
  }

.btn-twitter {
  background-color: $twitter;
  border-color: darken($twitter, 10%);
}

  .btn-twitter:hover {
    background-color: darken($twitter, 10%);
  }


.btn-google_oauth2 {
  background-color: $google;
  border-color: darken($google, 10%);
}

  .btn-google_oauth2:hover {
    background-color: darken($google, 10%);
  }


.gray-vertical-border {
  border-left: $grayVerticalBorder;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-left: 0;
}

.sign-up-btn {
  margin-top: 10px;
}

.edit-gravatar {
  margin: 15px 0;
}

.ad-margin {
  margin-top: 15px;
}