.users {
  list-style: none;
  margin: 0;
  -webkit-padding-start: 0;
  li {
    overflow: auto;
    padding-top: 10px 0;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.wanted-owned {
  min-height: 148px;
}