<div class="row">
  <div class="col-md-12">
    <section>
      <h3><%= @owners.count %> Own This</h3>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @owners.any? %>
      <% @owners.each do |owner| %>
        <%= link_to gravatar_for(owner, size: 54, class: "pull-left"), owner_path(owner) %>
      <% end %>
      <div><%= link_to "View All", game_owners_path %></div>
    <% end %>
  </div>
</div>