<% provide(:title, @title) %>

<div class="row">
  <div class="col-md-12">
    <h1><%= @title %></h1>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
    <% else %>
      <p><%= @game.name %> isn't <%= @title.downcase %> anyone. Be the first!</p>
    <% end %>
  </div>
</div>