<section class="about">
  <h3>What is this?</h3>

  <p>
    The video game industry is growing at an incredible pace. In 2014, the industry is expected to hit <%= link_to "$100 billion", "http://www.gartner.com/newsroom/id/2614915" %>. In the US alone, <%= link_to "59% of Americans", "http://www.theesa.com/facts/pdfs/esa_ef_2014.pdf" %> are playing video games. As a result, games are released at such a rapid pace that it's easy to miss out on some incredible experiences. Likewise, gamers have a vast library of games at their disposal. These games span a number of years across a multitude of platforms. Many are ground breaking, unforgettable and leave a lasting impression.
  </p>

  <p>
    Great Games Club is an attempt at cataloging great games throughout the years. These are the games that have left an impact on gamers and deserve to be remembered, played and enjoyed.
  </p>

  <p>
    Clicking on a game will give you more information about it, such as the publisher, developer, Metacritic score, popular YouTube videos and pricing information from Amazon. Prices are updated daily and games are being added regularly!
  </p>
</section>
