<section class="about">
  <h3>About</h3>

  <p>
    I grew up playing video games. Like many others, I've spent countless late nights with my friends fighting on virtual battlefields, raiding dungeons and saving the galaxy from an alien threat.
  </p>

  <p>
    I often hear people reminisce about their gaming experiences. Some games come out that leave such a lasting impression that it defines an era for that person. I thought it would be a cool idea to compile a list of great games that deserve to be remembered, played and enjoyed.
  </p>

  <p>
    This is not meant to be a list of highest rated games from Metacritic, although many will likely be highly rated. My goal is to showcase games that left an impact on gamers.
  </p>

  <p>
    Clicking on a game will give you more information about it, such as the publisher, developer, Metacritic score, popular YouTube videos and pricing information from Amazon. Prices are updated daily.
  </p>
</section>
